* {
	padding: 0;
	margin: 0;
}
body{
	background: #222;
}
/*  时间 */
canvas {
	position: fixed;
	left: 0;
	top: 0;
	background: #222;
	width: 100%;
	height: 100%;
}

/* 跑步小孩 */
.rbimgs {
	--widimg: 1260/7;
	position: fixed;
	bottom: -100px;
	right: -50px;
	/* background-color: #008000; */
	width: calc(var(--widimg) * 1px);
	height: 300px;
	background-image: url(../images/xnvhai.png);
	background-repeat: no-repeat;
	animation: nvhimg 1s steps(7) infinite;
	transform: scale(0.4);
}

@keyframes nvhimg {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: -1260px;
	}


}
